:root {
    --primary: #111B54;
    --light: #ffffff;
    --gray: #efefefef;
}

body{
    font-family: 'Popins', sans-serif;
    overflow: hidden;
    font-weight: 300;
    color: var(--primary);
}
a:hover{
    text-decoration: none;
}
.bg-primary {
    background-color: var(--primary) !important;
}
.bg-light {
    background-color: var(--light) !important;
}
.bg-mix {
    background: linear-gradient(180deg, var(--light) 50%, var(--gray) 0);
}
.bg-gray {
    background-color: var(--gray) !important;
}
.btn {
    border: 0;
}
.btn-primary {
    background-color: var(--primary) ;
}
#sidebar-container {
    min-height: 100vh;
}
#sidebar-container .logo {
    padding: .875rem 1.25rem;
}
#sidebar-container .menu {
    width:18rem;
}

.btn-search {
    right: 12px;
}
.avatar {
    height: 50px;
    max-width: 50px;
}

#content {
    overflow-y: auto;
    height:100vh;
    padding-bottom: 5rem;
}

.stat {
    border-right: 1px solid var(--gray);
}


/* responsive */
@media (max-width: 768px) {
    #sidebar-container {
        display: none;
    }
    .stat {
        border: 0;
    }
}